.customize-control-sidebar_widgets label {
	display: none;
}
.customize-control-sidebar_widgets .hide-if-js {
	display: none; /* the link in here will fail if it ever gets used */
}

.customize-control-widget_form.previewer-loading .spinner {
	display: inline;
}

.customize-control-widget_form.widget-form-loading .widget-content {
	opacity: 0.7;
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.customize-control-widget_form .widget {
	margin-bottom: 0;

	/**
	 * Prevent plugins (e.g. Widget Visibility in Jetpack) from forcing widget forms
	 * to be wide and so overflow the customizer panel
	 */
	left: auto !important;
	max-width: 100%;
}

.customize-control-widget_form .widget .widget-top {
	cursor: default;
}

.customize-control-widget_form .widget .widget-top {
	cursor: move;
}

.customize-control-widget_form .widget .widget-top a {
	cursor: pointer;
}

.customize-control-widget_form .widget .customize-control-title {
	cursor: move;
}

.control-section.accordion-section.widget-customizer-highlighted > .accordion-section-title,
.customize-control-widget_form.widget-customizer-highlighted {
	border-radius: 2 px;
	outline: none;
	box-shadow: 0 0 3px #CE0000;
}

#widget-customizer-control-templates {
	display: none;
}

/* MP6-compat */
#customize-theme-controls .accordion-section-content .widget {
	color: black;
}



/**
 * Styles for new widget addition panel
 */

.wp-full-overlay-main {
	right: auto; /* this overrides a right: 0; which causes the preview to resize, I'd rather have it go off screen at the normal size. */
	width: 100%;
}

div#widgets-right .ui-sortable .widget {
	margin-bottom: 8px;
}

.add-new-widget {
	cursor: pointer;
	display: block;
	clear: both;
	padding: 13px 20px 10px 20px;
	margin: 0px -20px -23px -20px;
	text-align: right;
	transition: all 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.add-new-widget:hover {
	opacity: 0.8;
}
.add-new-widget:active {
	opacity: 0.6;
}
.add-new-widget:before {
	content: "\f132";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'dashicons';
	vertical-align: middle;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 80px;
	padding: 4px 2px 1px 2px;
	position: relative;
	top: -2px;
	transition: all 0.2s;
}
.add-new-widget b {
	padding-left: 8px;
}

#available-widgets {
	margin: 0;
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	padding-bottom: 46px;
	overflow: auto;
	background: #fff;
	transition: all 0.2s;
	box-shadow: inset -1px 0 4px rgba(0,0,0,0.3);
}
#available-widgets-filter {
	position: fixed;
	bottom: 0;
	left: 300px;
	right: 0;
	background: rgba(255,255,255,0.95);
	border-top: 1px solid rgba(0,0,0,0.1);
	width: 300px;
	padding: 8px 20px;
	box-sizing: border-box;
	z-index: 2;
}
#available-widgets-filter input {
	width: 100%;
	border-radius: 30px;
	padding: 5px 5px 2px 20px;
}

#available-widgets .widget {
	padding: 15px 15px 15px 80px;
	min-height: 80px;
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	position: relative;
}
#available-widgets .widget:hover {
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.05);
	background: rgba(0,0,0,0.05);
}
#available-widgets .widget-icon {
	position: absolute;
	top: 15px;
	left: 15px;
}
#available-widgets .widget-top,
#available-widgets .widget-top:hover {
	border: none;
	box-shadow: none;
	background: transparent;
}
#available-widgets .widget-title h4 {
	font-size: 14px;
	padding: 10px 0 5px 0;
}
#available-widgets .widget-title h4:before {
	content: "\f132";
	opacity: 0;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 32px/1 'dashicons';
	vertical-align: middle;
	transition: all 0.05s;
	position: absolute;
	top: 27px;
	left: 24px;
}
#available-widgets .widget:hover .widget-title h4:before {
	opacity: 1;
}
#available-widgets .widget .widget-description {
	padding: 0;
	color: #777;
}

/* Simplified prototype
	#available-widgets li {
		padding: 15px;
		cursor: pointer;
		border-bottom: 1px solid rgba(0,0,0,0.05);
	}
	#available-widgets li:hover {
		box-shadow: inset 0 1px 0 rgba(0,0,0,0.05);
		background: rgba(0,0,0,0.05);
	}
	#available-widgets h4 {
		margin: 0 0 5px 0;
		font-size: 14px;
		font-weight: 600;
		padding-left: 30px;
		color: #555;
		position: relative;
	}
	#available-widgets h4:before {
		content: "\f132";
		opacity: 0;
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		font: normal 22px/1 'dashicons';
		vertical-align: middle;
		transition: all 0.05s;
		position: absolute;
			top: 0;
			left: 0;
	}
	#available-widgets p {
		margin: 0;
		color: #777;
		font-size: 12px;
		padding-left: 30px;
	}

	#available-widgets li:hover h4:before {
		opacity: 1;
	}
*/

#customize-preview {
	transition: all 0.2s;
}

body.adding-widget {}
body.adding-widget .add-new-widget {
	color: rgb( 173, 6, 15 );
}
body.adding-widget .add-new-widget:before {
	-webkit-transform: rotate(45deg);
	border-color: rgba( 173, 6, 15, 1);
	color: rgb( 173, 6, 15 );
}
body.adding-widget #available-widgets {
	left: 0;
}
body.adding-widget .wp-full-overlay-main {
	left: 300px;
}
body.adding-widget #customize-preview {
	opacity: 0.4;
}