.customize-control-sidebar_widgets label {
	display: none;
}
.customize-control-sidebar_widgets .hide-if-js {
	display: none; /* the link in here will fail if it ever gets used */
}

.customize-control-widget_form.previewer-loading .spinner {
	display: inline;
}

.customize-control-widget_form.widget-form-loading .widget-content {
	opacity: 0.7;
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.customize-control-widget_form .widget {
	margin-bottom: 0;

	/**
	 * Prevent plugins (e.g. Widget Visibility in Jetpack) from forcing widget forms
	 * to be wide and so overflow the customizer panel
	 */
	left: auto !important;
	max-width: 100%;
}

.customize-control-widget_form .widget-inside {
	border-top: none;
	padding: 1px 15px 15px 15px;
	line-height: 16px;
}

.customize-control-widget_form .widget .widget-top {
	cursor: default;
}

.customize-control-widget_form .widget .widget-top {
	cursor: move;
}

.customize-control-widget_form .widget .widget-top a {
	cursor: pointer;
}

.customize-control-widget_form .widget .customize-control-title {
	cursor: move;
}

.control-section.accordion-section.widget-customizer-highlighted > .accordion-section-title,
.customize-control-widget_form.widget-customizer-highlighted {
	border-radius: 2 px;
	outline: none;
	box-shadow: 0 0 3px #CE0000;
}

#widget-customizer-control-templates {
	display: none;
}

/* MP6-compat */
#customize-theme-controls .accordion-section-content .widget {
	color: black;
}
